.close {
  position: absolute;
  top: 0px;
  right: -30px;

  width: 30px;
  height: 30px;

  background: none;
  border: none;
  color: white;
  font-size: 20px;

  cursor: pointer;

  z-index: 5;
}
