@import url('@/app/styles/normalize.css');
@import url('@/app/styles/variables.css');
@import url('@/app/styles/fonts.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  color: var(--color-text);
  background-color: var(--color-background);

  max-width: 1500px;
  margin: 0 auto;
  padding: 25px;

  display: flex;
  flex-direction: column;
}

main {
  margin-top: 25px;
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
