.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 100px;
}

.header nav {
  margin-top: 0.8rem;
}

.header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.header ul + ul {
  padding-top: 0.8rem;
  border-top: 1px solid #999;
  margin-top: 0.8rem;
}

.header ul li {
  list-style-type: none;
}

.header nav a:not(.socials a)::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.2s;
}

.header nav a:not(.socials a):hover::after {
  width: 100%;
}

.socials li {
  height: 18px;
}

.socials li {
  height: 18px;
}

.socials li a:hover {
  opacity: 0.5;
}

/* 👇 Can be deleted once all pages are implemented */
.header nav a[aria-disabled='true'] {
  opacity: 0.5;
  cursor: not-allowed;
}

.header nav a[aria-disabled='true']::after {
  transition: none;
  height: 0;
}

@media (min-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header nav {
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  .header ul {
    flex-direction: row;
    gap: 0.8rem;
    padding-right: 0.8rem;
  }

  .header ul + ul {
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
  }

  .header ul + ul::before {
    content: '|';
  }

  .header ul li {
    margin-bottom: 0;
  }
}
